@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-one:#8861ED;
    --color-two:#FF589E;
    --color-bg:#F2F2FE;
    --color-text:#777D8D;
 
    --font:"Raleway", sans-serif;
}
*{
    box-sizing: border-box;
}

body{
    font-family: var(--font);
    overflow-x: hidden; 
}
a{
    text-decoration: none;
    
}

html{
    overflow-x: hidden;
}
