.header{
    background-image: url(../image/banner-bg.jpg);
    padding: 60px;
    background-size: cover;     

  background-repeat: no-repeat; 

    /* background-position: center bottom; */
}
.header .header-main{

left: 0;
    position: sticky;
    top: 20px;
    z-index: 9999; 
    
}

.header .header-main .inner-logo img{

    width: auto;
    height: 25px;
    
}
.header .inner-wrap{
    display: flex;
    justify-content: space-between;
}

.header .inner-menu ul{
     list-style-type: none;
    display: flex;
     margin: 0;
    padding: 0;
    align-items: center;
}
header .inner-menu ul li a{
    padding: 15px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    cursor: pointer;

}

header .inner-logo img{
    cursor: pointer;

}
header .inner-menu ul li a:hover{
    color: var(--color-two);

}
.header .header-main {
    background-color: white;
    padding: 30px;
    border-radius: 50px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.header .inner-content{
  padding-top: 100px;
    text-align: center;
    margin: auto;
   max-width: 700px;

}
.header .inner-content .inner-title{
    font-size: 50px;
    color: white;
    padding: 40px 0px;
}

.header .inner-content .inner-desc{
    font-size: 20px;
    color: white;
    padding: 60px 0px;
    
}

.header .section-one .btn-cl{
    background-color: var(--color-two);
    border-radius: 15px;
}

.header .section-one .inner-box{
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    text-align: center;
    padding: 40px;
    
}
.header .section-one .inner-box .inner-icon i {
    color: white;
    font-size: 50px;

}
.header .section-one .inner-box .inner-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--color-one);
    display: flex;
    align-items: center;
    justify-content: center;
      margin: 0 auto 20px;   /* thêm dòng này để icon ra giữa */
   
}
.section-one .inner-box .inner-title{
    margin: 0;
    padding: 0;
   margin-top: 20px;
      margin-bottom: 20px;
      font-size: 18px;
}
 .section-one .inner-box .inner-desc{
   margin-top: 20px;
      margin-bottom: 20px;
      font-size: 15px;
      color: var(--color-text);
}

 .section-one .inner-box {
   background-color: white;
   height: 90%;
  
   cursor: pointer;
}
 .section-one {
  margin-top: 200px;
}

.section-one .inner-box:hover .inner-icon {
  background-color: var(--color-two);
}


.section-two .inner-main .inner-title{
 margin: 0;
 margin-bottom: 40px;
font-weight: 400;

}
.section-two .inner-main .inner-desc{
 font-size: 17px;
 color: var(--color-text);
 margin-bottom: 20px;
}

.section-two .inner-img {
  padding: 20px;
}
.header-main .inner-icon-mobi {
  display: none;
}
@media screen and (max-width: 991.98px) {
  .header .header-main .inner-menu ul{
    display: none;
  }

  .header-main .inner-icon-mobi {
  display: block;
  font-size: 20px;
}
.section-two .inner-main .inner-img{
text-align: center;
}
.section-three .inner-main .inner-img{
text-align: center;
}
}

@media screen and (max-width: 767.98px) {

}

/* section-three */
.section-three{
    margin-top: 100px;
}


.section-three .inner-main .inner-title{
 margin: 0;
 margin-bottom: 40px;
font-weight: 400;

}
.section-three .inner-main .inner-desc{
 font-size: 17px;
 color: var(--color-text);
 margin-bottom: 20px;
}

.section-three .inner-img {
  padding: 20px;
}

/* endsection-three */

/* section-four */
.section-four{
    margin-top: 60px;
    background-image: url(../image/bg-2.jpg);
    padding: 40px;

}
.section-four .inner-content {
  padding: 23px;    
  text-align: center;


}
.section-four .inner-content .inner-title{
  color: white;
  font-size: 27px;
  font-weight: 600;


}

.section-four .inner-content .inner-desc{
 
  color: white;
  font-size: 15px;
}
.section-four .inner-box {


display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.section-four .inner-box .inner-item{
 
 text-align: center;
 background-color: white;
 margin-left: 30px;
 padding: 20px;
 border-radius: 20px;
 transform: translateY(0);
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
 
  margin-bottom: 30px;
  
  width: 150px;
  height: auto;
}

.section-four .inner-box .inner-item i{
 color: var(--color-one);
 font-size: 30px;
 
}

.section-four .inner-box .inner-item i{
 color: var(--color-one);
 font-size: 30px;
 
}

.section-four .inner-box .inner-item .box-title{
 font-size: 25px;
 font-weight: 300;
 margin-top: 15px;
 margin-bottom: 30px;
 
}

.section-four .inner-box .inner-item .box-desc{
 color: var(--color-text);
 
}

.section-four .inner-box .inner-item:hover{
  cursor: pointer;
  transform: translateY(-10px); /* dịch lên 15px */
}

.section-four .inner-box .inner-item::before{
content:"";
 background-color:white;   
 position: absolute;
 width: 100%;
 height:100%;
border-radius: 20px;
top: 15px;
left: 15px;
opacity: 0.3;
z-index: -1;
}
/* end section-four */

/* setion-five */
.section-five{
    margin-top: 40px;
    padding: 100px 0;
   background-color: white;
}
.section-five  .inner-title{

    font-weight: 400;
font-size: 40px;

}
.section-five  .inner-head{

   text-align: center;

}

.section-five  .inner-desc{
max-width: 700px;
margin: 0 auto;
    margin-top: 30px;
    font-size: 20px;
    color: var(--color-text);
}
.section-five .inner-wrap{
   margin-top: 30px;
   
}
.section-five .inner-box{
    padding:40px 20px ;
    border-radius: 10px;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    background-color: white;
   

}

.section-five .inner-wrap .inner-content{
   margin-top: 30px;
   margin-bottom: 30px;
   font-size: 18px;
   color: var(--color-text);

}
.section-five .inner-icon{
   text-align: center;
}
.section-five .inner-icon i{
   color: var(--color-one);
   font-size: 30px;
}
.section-five .name-job{
text-align: center;
}
.section-five .name-job .inner-name{
font-size: 20px;
font-weight: 300;
margin: 0;
}

.section-five .name-job .inner-job{
font-size: 17px;
font-weight: 300;
margin: 0;
color: var(--color-two);
}

/* end-setion-five */
/* section-six  */
.section-six{
  background-color: #F2F2FE;
  padding: 100px 0px;
}

.section-six .inner-head{
text-align: center;
}

.section-six .inner-head .inner-title{
font-weight: 400;
margin-bottom: 30px;
font-size: 30px;
}
.section-six .inner-head .inner-content{
max-width: 700px;
margin: 0;
display: inline-block;
font-size: 18px;
color: var(--color-text);
margin-bottom:50px ;

}


.section-six  .inner-box{
background-color: white;
text-align: center;
padding: 50px 30px;
border-radius: 15px;
box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.1);
}

.section-six  .inner-box .inner-title-under{
font-weight: 400;
font-size: 22px;
}
.section-six  .inner-box .head-main{
background-color: var(--color-one);
padding: 10px;
text-align: center;
border-radius: 20px;
margin-bottom: 30px;
}
.section-six  .inner-box .head-main-two{
background-color: var(--color-two);
padding: 10px;
text-align: center;
border-radius: 20px;
margin-bottom: 30px;
}
.section-six  .inner-box .head-main .box-title{
color: white;
font-size: 28px;
margin: 0;
margin-top: 5px;
}
.section-six  .inner-box .head-main .box-desc{
color: white;
font-size: 20px;
margin: 0;
margin-top: 5px;
font-weight: 100;
}
.section-six  .inner-box .des1{
font-size: 14px;
color: var(--color-text);
}
.section-six  .inner-box .des2{
font-size: 14px;
color: var(--color-text);
}
.section-six  .inner-box .des3{
font-size: 14px;
color: var(--color-text);
}
.section-six  .inner-box .des4{
font-size: 14px;
color: var(--color-text);
text-decoration: line-through;
}
.section-six  .inner-box .des5{
font-size: 14px;
color: var(--color-text);
text-decoration: line-through;
}
.section-six  .inner-box .des6{
font-size: 14px;
color: var(--color-text);
text-decoration: line-through;
}

.section-six  .inner-box .button{
text-decoration: none;
padding: 10px 15px;
background-color: var(--color-one);
border-radius: 20px;
color: white;
font-size: 14px;
margin-top: 40px;
display: inline-block;
}
.section-six  .inner-box .des-none{

text-decoration: none;
}

.section-six  .inner-box .button:hover{
background-color: var(--color-two);
}
.currency {
    color: #fff;
    height: 47px;
    font-weight: 500;
    font-size: 32px;
    color: #fff;
    position: relative;
    top: -1px;
}
.price {
    color: #fff;
    font-weight: 500;
    font-size: 28px;
}
/* endsection-six  */

.section-seven{
  background-image: url("../image/fun-facts-bg.jpg");
  background-repeat: no-repeat;
 
  background-position: center;
  background-size: cover;
  padding: 100px 0px;
  margin-bottom: 50px;
}

.section-seven .inner-content .inner-number{
  font-weight: 800;
  font-size: 30px;
  color: white;
}
.section-seven .inner-content {
  text-align: center;
  transform: translateY(0);
  transition: transform 0.3s ease;
}
.section-seven .inner-content .inner-title{
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.section-seven .inner-box{
 
  position: relative;

}

.section-seven .inner-box::before{
  content: "";
   
  
 
  width: 100px;
  height: 20px;
  background-image: url("../image/circle-dec.jpg");
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
position: absolute;
left: 80%;
top:45%;
}

.section-seven .inner-box:hover .inner-content {
  transform: translateY(-10px);
}